.container {
    position: relative;
    width: 40% !important;
    margin: 0px;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }

.image {
    opacity: 1;
    width: 100%;
    height: 110px !important;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  /* .text {
    background-color: #d00404;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  } */

@media (min-width: 576px) { 

}

@media (min-width: 768px) { 
    .container {
        position: relative;
        width: 15% !important;
        margin: 0px;
        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
      }
 }

@media (min-width: 992px) { 

 }

@media (min-width: 1200px) { 
    .container {
        position: relative;
        width: 15% !important;
        margin: 0px;
        padding-right: 0px !important;
        padding-left: 0px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
      }

      .image {
        opacity: 1;
        width: 100%;
        height: 135px !important;
        display: block;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }
}

@media (min-width: 1400px) { 

 }